<h1>Stupid Coaching</h1>
<br></br>

<div class="question">
<%= @question %>
<p><em>-You</em></p>
</div>
<br></br>
<div class ="answer">
<%= @answer %>
<p><em>-Your coach</em></p>
</div>
<br></br>
<%= link_to "Ask a new question", ask_path, :class => "link" %>
